
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/atendimento.css"/>

    <title>Document</title>
</head>
<body>
    <table>
        <caption>Pets</caption>
        <thead>
          <tr>
            <th>Nome</th>
            <th>raca</th>
            <th>idade</th>
            <th>Ação</th>
            <th>Ação</th>
          </tr>
    
          <% for (i=0; i<petsJson.length; i++) { %>
    
            <tr>
                <td> <%= petsJson[i].nome %> </td>
                <td> <%= petsJson[i].raca %> </td>
                <td> <%= petsJson[i].idade %> </td>
                <td> <a href="editar/<%= petsJson[i].id %>">Alterar</a></td>
                <td> <a href="deletar/<%= petsJson[i].id %>">Excluir</a></td>
    
                </tr>
            <% } %>
        </table>
        </thead>
        <tbody>
          <a href="cadastropet" id="novopet"> Novo pet</a>
</body>
</html>